<!--<question></question>-->
<button type="button" (click)="showQuestionNew = !showQuestionNew" class="btn btn-info btn-flat">Agregar una Pregunta Nueva</button>
<button type="button" (click)="showListQuestions = ! showListQuestions" class="btn btn-info btn-flat">Agregar una Pregunta Existente</button>
<button type="button" (click)="showListStructures = ! showListStructures" class="btn btn-info btn-flat">Agregar una Plantilla</button>
<button type="button" (click)="addForm()" class="btn btn-info btn-flat">Copiar una encuesta</button>

<div class="row">
    <div class="col-sm-12">
        <!-- text input -->
        <div class="form-group">
            <label>Título de la Encuesta</label>
            <input name="name" placeholder="Título de la Encuesta" class="form-control" type="text" required/> 
        </div>
        <div class="form-group">
            <label>Descripción</label>
            <input name="name" placeholder="Descripción (opcional)" class="form-control" type="text" required/> 
        </div>
        <div class="form-group">
                <label>Imagen</label>
                <input name="name" placeholder="Imagen o logo (opcional)" class="form-control" type="text" required/> 
            </div>
    </div>
</div>

<div *ngIf="showQuestionNew">
    <question-create (returnQuestion)="responseQuestion($event)"></question-create>
</div>
<div *ngIf="showListQuestions">
    <structure-questions (returnListQuestion)="responseListQuestion($event)"></structure-questions>
    <button type="button" (click)="addListQuestions()" class="btn btn-info btn-flat">Agregar Preguntas</button>
</div>
<div *ngIf="showListStructures">
    <form-structure></form-structure>
</div>
<div></div>