.full-width {
  width: 100% !important;
}
.half-width {
  width: 50% !important;
}
.vertical-radio-group {
  display: inline-flex;
  flex-direction: column;
}
.mat-radio-button {
  padding-right: 15px;
}
.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
.example-margin {
  margin: 0 10px;
}